html,
body {
  height: 100%;
}

body {
  height: calc(100% - 8px - 8px);
  margin: 0 8px 8px 8px;
  display: flex;
  flex-direction: column;
}

ferrostar-map {
  height: calc(100% - 48px);
  width: 100%;
  display: block;
}
