html,
body {
  height: 100%;
}

body {
  height: calc(100% - 8px - 8px);
  margin: 0 8px 8px 8px;
  display: flex;
  flex-direction: column;
}

ferrostar-map {
  height: calc(100% - 48px);
  width: 100%;
  display: block;
}

instructions-view {
        top: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 1000;
      }

      #bottom-component {
        bottom: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 80%;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }

      #stop-button {
        display: flex;
        padding: 20px;
        background-color: white;
        border-radius: 50%;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition:
          background-color 0.3s,
          filter 0.3s;
      }

      #stop-button .icon {
        width: 20px;
        height: 20px;
      }

      #stop-button:hover {
        background-color: #e0e0e0;
      }

      @media (max-width: 600px) {
        #stop-button {
          padding: 14px;
        }

        #stop-button .icon {
          width: 10px;
          height: 10px;
        }
      }
